* {
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

:root {
    --header-height: 50px;
    --edge-margin: 20px;
    --blue: #0071E3;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: capitana,sans-serif;
    font-style: normal;
}

body::-webkit-scrollbar {
    display: none;
  }

header {
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    border-bottom: 2px solid #e2e2e2;
    padding: 0 0.6rem;
}
nav {
    display: flex;
}

h1 {
    font-size: calc(var(--header-height)*0.6);
    font-weight: 600;
}

main {
    width: 100%;
    height: 100%;
}

.typography-title {
    font-weight: 500;
    font-size: 2.5rem;
}

.typography-body {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.typography-callout {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.75rem;
}


main {
    box-sizing: border-box;
    padding: var(--edge-margin);
    padding-top: 0; 
}

#product-view {
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    gap: var(--edge-margin);
}

#product-view-image {
    height: 60%;
    width: 100vw;
    margin-left: calc(var(--edge-margin) * -1);
}

#product-view-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#product-view-information {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: justify;
}

.information-section {
    text-align: justify;
}

.group {
    margin: 3rem 0;
}

.cta-button {
    font-family: capitana,sans-serif;
    font-size: 1.1rem;
    border-radius: 1000rem;
    width: fit-content;
    height: 2.5rem;
    padding: 0.4rem 0.85rem;
    line-height: 0;
    color: white;
    background-color: var(--blue);
    margin-top: 10px;
}

.center-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.center-information {
    margin: 4rem 0;
}

.center-information h2 {
    font-size: 2.8rem;
    font-weight: 400;
}

.fullwidth-section {
    width: 100vw;
    margin-left: calc(var(--edge-margin) * -1);
}

.keyword-section {
    display: flex;
    flex-direction: column;
    padding: var(--edge-margin);
    box-sizing:border-box;
}

.secondary-keyword-section {
    background-color: black;
    color: white;
    align-items: flex-end;
}

.keyword-section h2 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 3.8rem;
}

.keyword-section h3 {
    font-size: 1.8rem;
    font-weight: 400;
}

#buy-image-2 {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

#buy-image-3 {
    width: 100%;
    height: 47vh;
    object-fit: cover;
}

#office-image {
    width: 90%;
    margin-top: var(--edge-margin);
}

@media screen and (min-width: 410px) {
    :root {
        --header-height: 50px;
        --edge-margin: 30px;
    }

    html {
        font-size: 26px;
    }

    .typography-title {
        font-weight: 500;
        font-size: 2rem;
    }

    main {
        padding: var(--edge-margin);
    }

    nav {
        flex-direction: row;
        justify-content: space-around;
        font-size: 0.9rem;
        width: 23vw;
    }

    nav a {
        margin: auto 0;
    }

    .group {
        margin: 128px 0;
    }

    #product-view {
        height: calc(100vh - var(--edge-margin) * 2 - var(--header-height));
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    #product-view-image {
        flex-basis: 45vw;
        flex-shrink: 0;
        height: 100%;
        /* width: 45vw; */
        margin-left: 0;
    }

    #product-view-information {
        width: 38vw;
    }

    .cta-button {
        font-family: capitana,sans-serif;
        font-size: 0.8rem;
        border-radius: 1000rem;
        width: fit-content;
        height: 1.6rem;
        padding: 0.4rem 0.85rem;
        line-height: 0;
        color: white;
        background-color: var(--blue);
        margin-top: 10px;
    }

    .desktop-split {
        flex: 50%;
    }

    .desktop-reverse {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .desktop-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .center-information {
        margin-top: 2rem;
    }

    .center-information p {
        font-size: 1.2rem;
        line-height: 1.8rem;
        width: 39vw;
    }

    .center-information h2 {
        font-size: 3.7rem;
        font-weight: 500;
    }

    #buy-image-2-wrapper {
        height: 50vh;
        width: 50%;
    }

    #buy-image-2 {
        height: 100%;
    }

    #buy-image-3 {
        width: 50vw;
    }

    .information-section {
        width: 39vw;
        margin: 0 1.5rem;
    }

    .fullwidth-section {
        width: 100vw;
        margin-left: calc(var(--edge-margin) * -1);
        margin-right: calc(var(--edge-margin) * -1);
    }

    .fullwidth-section:first-child {
        width: auto;
        margin-left: calc(var(--edge-margin) * -1);
    }
    .fullwidth-section:nth-child(2) {
        width: auto;
        margin-right: calc(var(--edge-margin) * -1);
    }

    #office-image {
        width: auto;
        height: calc(100vh - var(--edge-margin) * 2 - var(--header-height) - 5rem);
        object-fit: cover;
        margin-top: 0;
        margin-bottom: -1.5rem
    }

    #social-links {
        display: flex;
        flex-direction: row;
    }
}
