html {
    font-size: 62.5%;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

:root {
    --header-height: 50px;
    --edge-margin: 20px;
    --blue: #0071E3;
    --black: #1d1d1d;
    --grey: #868686;
    --white: #f5f5f5;
}

.typography-section-heading {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 7.1rem;
}

.typography-section-copy {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: var(--grey);
}

.typography-heading {
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4.7rem;
}

.typography-copy {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: var(--grey);
}

body {
    width: 100vw;
    height: 100vh;
    font-family: capitana, sans-serif;
    font-style: normal;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    border-bottom: 2px solid #e2e2e2;
    padding: 0 0.6rem;
    background-color: white;
}

nav {
    max-width: 300px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px auto;
}

header>nav {
    display: none;
}

#menu-button {
    background-color: white;
}


aside {
    width: 100vw;
    height: 100vh;
    float: left;
    position: absolute;
    transform: translateX(-100vw);
    transition: transform 2s;
    background: white;
}

aside.menu-open {
    transform: translateX(0);
}

aside > nav > a {
    text-decoration: none;
    color: black;
}

header > nav > a.typography-copy {
    text-decoration: none;
    color: black;
}

body.menu-open {
    height: 100vh;
    overflow: hidden;
}


h1 {
    font-size: calc(var(--header-height)*0.6);
    font-weight: 600;
}

main {
    width: 100%;
}

main>* {
    max-width: 300px;
    margin: 0 auto;
}

footer {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.limit-width {
    max-width: 300px;
    margin: 0 auto;
}

.product-hero {
    max-width: initial;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#product-gallery>img {
    width: 100%;
}

.center-section {
    text-align: center;
    padding: 82px 0;
}

.information-section {
    max-width: initial;
    padding: 82px 0;
}

.information-section img {
    width: 100%;
}

.information-section.dark-theme-mobile {
    padding-bottom: 32px;
}

.dark-theme {
    background: black;
}

.dark-theme>section>h2,
.dark-theme>section>h3,
.dark-theme>section>p {
    color: white;
}

.dark-theme-mobile {
    background: black;
}

.dark-theme-mobile .typography-heading,
.dark-theme-mobile .typography-copy,
.dark-theme-mobile .typography-section-heading,
.dark-theme-mobile .typography-section-copy {
    color: white;
}

.keyword-section {
    padding-top: 32px;
    padding-bottom: 32px;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
}

.keyword-section>section>h2:nth-child(2) {
    line-height: 6rem;
}

.keyword-section>section>h3:nth-child(2) {
    line-height: 3.2rem;
}

.keyword-section-secondary,
.keyword-section-secondary section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}


.fullwidth-wrapper {
    max-width: initial;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.fullwidth-wrapper article {
    flex-basis: 300px;
    flex-shrink: 0;
}

.fill {
    flex-shrink: 2;
    width: 100%;
}

.black-background {
    background-color: black;
    border: 3px solid black;
}

#office-image {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

#social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 350px;
    margin-top: 2rem;
}

#social-links img {
    width: 4rem;
    height: 4rem;
}

#sustainability-hero {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--edge-margin) var(--edge-margin);
}

#sustainability-hero-grid {
    display: grid;
    gap: 15px;
    grid-template-areas: 
        "s1 s1"
        "s1 s1"
        "s2 s2"
        "s3 s4"
        "s5 s5"
        "s6 s7"
        "s6 s7";
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.tile {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.tile > * {
    padding: 0 1rem;
    color: black;
}


.tile-image-1 {
    height: 70px;
    width: 70px;
}

.tile-image-2 {
    height: 180px;
    width: 180px;
}

#s1 {
    aspect-ratio: 1;
    grid-area: s1;
}

#s2 {
    grid-area: s2;
    flex-direction: row;
}

#s3 {
    grid-area: s3;
}

#s4 {
    grid-area: s4;
}

#s5 {
    grid-area: s5;
    flex-direction: row;
}

#s6 {
    grid-area: s6;
}

#s7 {
    grid-area: s7;
}


#job-hero {
    height: 250px;
}

#job-hero.keyword-section>section>h2:nth-child(2) {
    line-height: 5rem;
}

.job-table {
    width: 100%;
}

.job-table > * > * > td {
    color: white;
    padding: 1rem;
    border: 2px solid white;
}

@media screen and (min-width: 420px) {
    :root {
        --edge-margin: 90px;
    }

    .dark-theme-mobile .typography-heading,
    .dark-theme-mobile .typography-section-heading {
        color: black
    }

    .dark-theme-mobile .typography-copy,
    .dark-theme-mobile .typography-section-copy {
        color: var(--grey);
    }



    .typography-section-heading {
        font-weight: 700;
        font-size: 8rem;
        line-height: 11.9rem;
    }

    .typography-section-copy {
        font-weight: 400;
        font-size: 2.8rem;
        line-height: 4.2rem;
    }

    .typography-heading {
        font-weight: 600;
        font-size: 4.8rem;
        line-height: 7.1rem;
    }

    .typography-copy {
        font-weight: 400;
        font-size: 1.9rem;
        line-height: 2.8rem;
    }

    .dark-theme-mobile {
        background-color: initial;
    }

    .dark-theme>section>h2,
    h3,
    p {
        color: white;
    }

    .information-section.dark-theme-mobile {
        padding-bottom: 0;
    }

    .limit-width {
        max-width: initial;
    }

    header>nav {
        display: flex;
    }

    nav {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        max-width: 400px;
        width: 100%;
        margin: 0;
        height: initial;
    }

    #menu-button {
        display: none;
    }

    aside {
        display: none;
    }

    main {
        margin-top: 50px;
    }

    main>* {
        max-width: calc(1190px + var(--edge-margin)*2);
        padding-left: var(--edge-margin);
        padding-right: var(--edge-margin);
        margin: auto;
        box-sizing: border-box;
    }

    .product-hero {
        height: calc(100vh - var(--header-height) - 50px);
        max-width: calc(1190px + var(--edge-margin)*2);
        padding-left: var(--edge-margin);
        padding-right: var(--edge-margin);
        margin: auto;
        display: flex;
        flex-direction: row;
        gap: 96px;
        justify-content: space-between;

    }

    .product-hero section {
        display: flex;
        flex-direction: column;
        max-width: 340px;
        justify-content: center;
    }

    #product-gallery {
        width: 50%;

    }

    #product-gallery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .center-section {
        padding: 128px 0;
    }

    .information-section {
        max-width: calc(1190px + var(--edge-margin)*2);
        display: flex;
        flex-direction: row;
        padding: 128px 0;
        gap: 96px;
        justify-content: space-between;
    }

    .information-section section {
        display: flex;
        flex-direction: column;
        max-width: 340px;
        justify-content: center;
    }

    .information-section img {
        width: 50%;
    }

    .desktop-reverse {
        flex-direction: row-reverse;
    }

    #about-picture>img {
        width: 100%;
    }

    #about-hero-section {
        padding-top: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #social-section>section,
    #contact-section>section {
        flex-shrink: 10;
        max-width: initial;
    }

    #social-section,
    #map-section,
    #contact-session {
        padding-top: 0;
        padding-bottom: 0;
    }

    .fullwidth-wrapper {
        max-width: initial;
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .fullwidth-wrapper article {
        flex-basis: calc(1190px + var(--edge-margin)*2);
        flex-shrink: 0;
        padding: 0;
    }

    .fill {
        flex-shrink: 2;
        width: 100%;
    }

    .fullwidth-wrapper .keyword-section {
        padding-top: 64px;
    }


    #sustainability-hero {
        max-width: calc(1190px + var(--edge-margin)*2);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--edge-margin) var(--edge-margin);
    }
    
    #sustainability-hero-grid {
        gap: 25px;
        grid-template-areas: 
            "s1 s1 s6 s2 s2"
            "s1 s1 s6 s4 s7"
            "s3 s5 s5 s5 s7";
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(5, 1fr);
    }
    
    .tile {
        border-radius: 30px;
    }

    #s1 {
        aspect-ratio: 1;
    }

    @media screen and (max-width: 870px) {
        #sustainability-hero-grid {
            grid-template-areas: 
                "s1 s1 s7"
                "s1 s1 s7"
                "s2 s2 s6"
                "s3 s4 s6"
                "s5 s5 s5";
            grid-template-rows: repeat(7, 1fr);
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .job-table {
        max-width: calc(1190px + var(--edge-margin)*2);
    }
}



.cta-button {
    width: fit-content;
    font-family: capitana, sans-serif;
    color: white;
    background-color: #0071E3;
    border-radius: 1000rem;
    padding: 0.4rem 1rem;
    margin: 1rem 0;
}

#mail-button {
    text-decoration: none;
}